spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: "meu_email_aqui"
    password: "minha_senha_aqui"
    protocol: smtp
    properties:
      mail:
        smtp:
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          auth: true
          starttls:
            enable: true
          connectionTimeout: 5000
          timeout: 3000
          writetimeout: 5000

  thymeleaf:
    enable: true

envio:
  email:
    remetente: 'remetente'
    nomeRemetente: 'nome_remetente'

server:
  port: 8082